a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
body{
    line-height:1
}
ol,ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:after,blockquote:before,q:after,q:before{
    content:"";
    content:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}
html{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
*,:after,:before{
    -webkit-box-sizing:inherit;
    box-sizing:inherit
}
b,strong{
    font-weight:600
}
body{
    height:100%;
    font-family:Source Sans Pro,Helvetica Neue,Helvetica,Lato,Open Sans,Arial,sans-serif;
    line-height:1.2;
    font-weight:400
}
h1.section-heading{
    display:inline-block;
    position:relative;
    font-size:3rem;
    line-height:2;
    margin-bottom:3rem;
    font-weight:600
}
h1.section-heading:after{
    content:"";
    position:absolute;
    height:3px;
    width:4rem;
    background:#fff;
    bottom:0;
    left:50%;
    -webkit-transform:translate3d(-50%,0,0);
    transform:translate3d(-50%,0,0)
}
@media only screen and (max-width:960px){
    h1.section-heading{
        text-align:center;
        -webkit-transform:translate3d(-50%,0,0);
        transform:translate3d(-50%,0,0);
        left:50%;
        right:50%
    }
}
@media only screen and (max-width:480px){
    h1.section-heading{
        font-size:2.7rem
    }
}
h2{
    color:#ffb100;
    font-size:1.7rem;
    margin-bottom:1rem;
    font-weight:600
}
@media only screen and (max-width:480px){
    h2{
        font-size:1.5rem
    }
}
h5{
    margin:1rem 0;
    font-size:1.5rem;
    font-weight:600
}
p{
    font-size:1.2rem;
    line-height:1.4;
    color:#b7b7b7;
    margin-bottom:1rem
}
a{
    color:#000;
    text-decoration:none;
    border-bottom:1px solid #000
}
.highlight{
    color:#fff;
	font-weight:500;
}
.overlay-top .highlight{
    color:orange;
}
.list-title{
    display:inline-block;
    font-size:1.3rem;
    font-weight:600;
    margin:1rem 0
}
.container{
	color:white;
    max-width:1700px;
    padding:0 90px;
    margin:0 auto
}
@media only screen and (max-width:960px){
    .container{
        max-width:600px;
        padding:0
    }
}
@media only screen and (max-width:690px){
    .container{
        max-width:420px
    }
}
@media only screen and (max-width:480px){
    .container{
        max-width:320px
    }
}
@media only screen and (max-width:320px){
    .container{
        max-width:300px
    }
}
.content-wrapper{
    padding:0 4rem
}
@media only screen and (max-width:960px){
    .content-wrapper{
        padding:0
    }
}
main>section{
    padding-top:5rem;
    padding-bottom:6rem
}
@media only screen and (max-width:480px){
    main>section{
        padding-top:1rem;
        padding-bottom:3rem
    }
}
.grid-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    grid-column-gap:2rem;
    grid-row-gap:3rem
}
@media only screen and (max-width:480px){
    .grid-container{
        grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
        grid-row-gap:2.5rem
    }
}
@media only screen and (max-width:320px){
    .grid-container{
        grid-template-columns:repeat(auto-fit,minmax(300px,1fr))
    }
}
@media only screen and (max-width:480px){
    .grid-container.projects{
        grid-auto-rows:420px
    }
}
.grid-container-col4{
	margin-top:100px;
    display:grid;
    grid-template-columns:repeat(4,1fr)
}
@media only screen and (max-width:1300px){
    .grid-container-col4{
		margin-top:100px;
        grid-template-columns:repeat(2,1fr);
        grid-row-gap:2.5rem
    }
}
@media only screen and (max-width:690px){
    .grid-container-col4{
		margin-top:100px;
        grid-template-columns:repeat(auto-fit,minmax(300px,1fr))
    }
}
.nav{
    --text:#fff;
    --text-inverse:#000;
    --text-shadow:1px 1px 2px hsla(0,0%,100%,0.5);
    text-shadow:var(--text-shadow);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:2
}
@media only screen and (max-width:520px){
    nav:not(h1) > a{
        display:none;
    }
}
#nav{
  display: inline-flex;
  flex-direction: column;
  background-color: #181818;
  width: 100%;
  height: 10vh;
  background-image: url(imgs/header-background.jpg);
  background-size: inherit;
  background-position: 50% 50px;
}

#nav nav{
	display:flex;
	margin: 15px 30px 0 30px;
    gap:30px;
}
	
#nav h1{
    font-size:1.6rem;
    line-height:1.4;
    font-weight:600;
    padding:0;
    margin:0;
	flex:1 0 auto;
}
#nav a{
    border:none;
    color:var(--text);
	margin:auto;
}
#nav span{
    letter-spacing:.15rem;
    display:block;
    font-weight:200;
    font-size:1rem;
    text-transform:uppercase
}
.nav-link{
    font-size:1.2rem;
}
#landing{
    -webkit-box-shadow:0 2px 9px 0 rgba(0,0,0,.45);
    box-shadow:0 2px 9px 0 rgba(0,0,0,.45);
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.landing-content{
    z-index:2;
    text-align:center
}
.landing-content p{
    font-weight:200;
    color:#fff;
    font-size:3.8rem;
    line-height:1.3;
    margin-top:3rem
}
@media only screen and (max-width:960px){
    .landing-content p{
        font-size:3.5rem
    }
}
@media only screen and (max-width:690px){
    .landing-content p{
        font-size:2.6rem;
        line-height:1.2
    }
}
@media only screen and (max-width:480px){
    .landing-content p{
        font-size:1.9rem;
        line-height:1.2;
        margin-top:3rem
    }
}
@media only screen and (max-width:320px){
    .landing-content p{
        font-size:1.3rem
    }
}
.img-wrapper{
    padding:0 4rem;
    margin-top:4rem;
    max-width:800px
}
@media only screen and (max-width:690px){
    .img-wrapper{
        padding:0
    }
}
@media only screen and (max-width:480px){
    .img-wrapper{
        padding:0 1rem
    }
}
.profile-picture{
    display:block;
    width:100%;
    height:100%;
    -o-object-fit:cover;
    object-fit:cover;
    border-radius:2px;
    -webkit-box-shadow:.25em .25em .75em rgba(0,0,0,.25),.125em .125em .25em rgba(0,0,0,.15);
    box-shadow:.25em .25em .75em rgba(0,0,0,.25),.125em .125em .25em rgba(0,0,0,.15)
}
.header-background{
	background-color: #2c2c2c;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url(imgs/header-background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50%
}
@media only screen and (max-width:480px){
    .hero-prallax-bg{
        border:none
    }
}
.about-item{
    text-align:center;
	padding: 0 50px 0 50px;
}
.about-item i{
    font-size:5rem;
    color:#ffb100
}
@media only screen and (max-width:320px){
    .about-item i{
        font-size:4rem
    }
}
.about-item p{
    margin-bottom:0
}
#about{
    background:#272727
}
#projects{
    background:#373737
}
.additional {
	margin-left: 15px;
}
.additional ul{
    list-style-type:disc;
    padding-left:2rem
}
.additional ul li:last-child{
    margin-bottom:0
}
.additional li{
    font-size:1.3rem;
    margin:0 0 10px
}
@media only screen and (max-width:480px){
    .additional li{
        font-size:1.2rem
    }
}
#connect{
    padding: 1rem 0 1rem 0;
    background:#252525;
    color:#fff
}
#connect a{
    vertical-align:middle;
    border:none;
    color:#fff
}
.hidden{
    visibility:hidden;
    height:0
}
.copyright{
    text-align:center;
    color:grey;
}
.copyright span{
    color:#008bf8
}
.btn{
    display:inline-block;
    text-align:center;
    cursor:pointer
}
.btn-primary{
    color:#008bf8;
    background:#fff;
    border:1px solid #008bf8;
    border-radius:4px;
    padding:.7rem 3rem;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:.2rem
}
.btn-primary:hover{
    color:#fff;
    background:#008bf8
}
.btn-rounded{
    position:relative;
    display:inline-block;
    height:3.7rem;
    width:3.7rem;
    border-radius:100%;
    background-color:orange;
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}
@media only screen and (max-width:480px){
    .btn-rounded{
        height:3rem;
        width:3rem
    }
}
@media only screen and (max-width:320px){
    .btn-rounded{
        height:2.5rem;
        width:2.5rem
    }
}
.btn-rounded i{
    color:#fff;
    line-height:100%;
    font-size:1.5rem;
    position:absolute;
    display:block;
    vertical-align:center;
    top:50%;
    left:50%;
    -webkit-transform:translate3d(-50%,-50%,0);
    transform:translate3d(-50%,-50%,0)
}
@media only screen and (max-width:480px){
    .btn-rounded i{
        font-size:1.5rem
    }
}
@media only screen and (max-width:320px){
    .btn-rounded i{
        font-size:1.3rem
    }
}
a.btn-header{
    margin-top:20px;
    border:2px solid orange;
	border-radius:3px;
    color:#fff;
    text-decoration:none;
    font-weight:500;
    font-size:25px;
    text-transform:uppercase;
    letter-spacing:2px;
    position:relative;
    overflow:hidden
}
@media only screen and (max-width:960px){
    a.btn-header {
		font-size:20px
    }
}
@media only screen and (max-width:690px){
    a.btn-header {
		font-size:18px
    }
}
@media only screen and (max-width:480px){
    a.btn-header {
        font-size:15px
    }
}
@media only screen and (max-width:320px){
    a.btn-header {
        font-size:10px
    }
}
a.btn-header span{
    display:inline-block;
    padding:10px 40px;
}
@media only screen and (max-width:480px){
    a.btn-header span{
        padding:10px 25px
    }
}
@media only screen and (max-width:320px){
    a.btn-header span{
        padding:10px 20px
    }
}
.project{
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0),0 2px 10px 0 rgba(0,0,0);
    box-shadow:0 2px 5px 0 rgba(0,0,0),0 2px 10px 0 rgba(0,0,0);
    border-radius:1px
}
.project,.project-img-wrapper{
    position:relative;
    overflow:hidden
}
.project-img-wrapper{
    cursor:pointer;
    height:300px
}
@media only screen and (max-width:480px){
    .project-img-wrapper{
        height:65%
    }
}
.project-img-wrapper:focus .project-img,.project-img-wrapper:hover .project-img{
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform:scale(1.1)
}
.project-img-wrapper:hover .project-img-wrapper:after{
    background-color:rgba(0,0,0,0)
}
.project-img-wrapper:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.1);
    -webkit-transition:all .6s cubic-bezier(.25,1,.2,1);
    transition:all .6s cubic-bezier(.25,1,.2,1)
}
.project-img-wrapper:hover:after{
    background-color:rgba(0,0,0,0)
}
.project-img{
    -o-object-fit:cover;
    object-fit:cover
}
.project-img,.project-overlay{
    width:100%;
    height:100%;
    -webkit-transition:all .6s cubic-bezier(.25,1,.2,1);
    transition:all .6s cubic-bezier(.25,1,.2,1)
}
.project-overlay{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    top:0;
    left:0;
    padding:1rem 1rem 0;
    font-size:1.2rem;
	background:#474747;
	background:rgb(55 55 55 / 88%);
    position:absolute;
    -webkit-transform:translate3d(0,100%,0);
    transform:translate3d(0,100%,0)
}
.project-overlay.show{
    -webkit-transform:translateZ(0);
    transform:translateZ(0)
}
.project-overlay .overlay-top{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.project-overlay .overlay-top h3{
    font-size:1.5rem;
    font-weight:300;
    line-height:1.5
}
.project-overlay ul{
    list-style-type:disc;
    padding-top:1rem;
    padding-left:2rem;
    font-weight:400;
	color:#dddddd;
}
.project-overlay ul strong{
	color:#fff;
}
@media only screen and (max-width:480px){
    .project-overlay ul{
        padding-top:.3rem
    }
}
.project-overlay li{
    line-height:1.3;
    font-size:1.2rem;
    margin:0 0 12px
}
@media only screen and (max-width:480px){
    .project-overlay li{
        line-height:1.4;
        font-size:1rem;
        margin:0 0 10px
    }
}
.project-overlay .project-buttons{
    border-top:1px solid hsla(0,0%,62.7%,.2);
    padding:1rem;
    margin-top:auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
	justify-content:right;
}
.project-overlay .project-buttons .btn-rounded{
    margin-right:1.5rem
}
.project-overlay .close-overlay{
    cursor:pointer;
    margin-right:.5rem;
    font-size:1.4rem
}
.project-details{
    padding:1.5rem 1rem
}
@media only screen and (max-width:480px){
    .project-details{
        padding:1rem
    }
}
.project-details h2{
    cursor:pointer;
    font-size:1.3rem;
    margin-bottom:.5rem
}
@media only screen and (max-width:480px){
    .project-details h2{
        font-size:1.5rem
    }
}
.project-details p{
    margin-bottom:0
}
@media only screen and (max-width:480px){
    .project-details p{
        font-size:1rem
    }
}
#connect .container{
	text-align: center;
}
#connect .container span{
	font-size: 20px;
}
.connect{
    font-size: 50px;
	margin-bottom: 15px;
}
.fa-linkedin {
	color:#0a66c2;
}
.blurred {
	-webkit-filter: blur(7px);
	filter: blue(7px);
	-webkit-transition: 500ms -webkit-filter linear;
	transition: 500ms filter linear;
}